/* Main stylesheet for Broadway, class project for Codecademy
 */

 * {
   font-family: Helvetica, sans-serif;
   text-align: center;
 }

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white; /* was white */
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: gray;
}

h3 {
  font-size: 23px;
  color: gray;
}

p {
  text-align: center;
  color: lightgray;
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}
img {
  opacity: .5;
}

div.banner {
  background-image: url("../images/the-flatiron-building.png");
    /* NOTE: must be relative to the CSS directory */
}

.bannertext {
  color: white;
}

table {
  width: 100%;
  table-layout: fixed;
}

.footer {
  background-color: lightgray;
}

.cright {
  color: white;
  text-align-last: left;
}

.footernav {
  color: white;
  text-align: center;
}

/*#home {
  background-color: gray;
}*/
