/* Main stylesheet for Broadway, class project for Codecademy
 */

 * {
   font-family: Helvetica, sans-serif;
   text-align: center;
 }

h1 {

}

h2 {

}

h3 {

}

p {

}

.banner {
  background-image: url("resources/images/the-flatiron-building.png")
}

.bannertext {

}

.footer {

}
